/*
** Sane Defaults
*/
*, *:before, *:after{
    box-sizing: border-box
}

img{
    max-width: 100%;
}

.align-children {
    font-size: 0;
    > * {
        display: inline-block;
        font-size: medium;
        vertical-align: top;
    }
} 
